/BD.Common/bin/Debug/netcoreapp3.1/BD.Common.deps.json
/BD.Common/bin/Debug/netcoreapp3.1/BD.Common.dll
/BD.Common/bin/Debug/netcoreapp3.1/BD.Common.pdb
/BD.Common/bin/Debug/netcoreapp3.1/PIDG.Common.deps.json
/BD.Common/bin/Debug/netcoreapp3.1/PIDG.Common.dll
/BD.Common/bin/Debug/netcoreapp3.1/PIDG.Common.pdb
/BD.Common/bin/Release/netcoreapp3.1/BD.Common.deps.json
/BD.Common/bin/Release/netcoreapp3.1/BD.Common.dll
/BD.Common/bin/Release/netcoreapp3.1/BD.Common.pdb
/BD.Common/bin/Release/netcoreapp3.1/PIDG.Common.deps.json
/BD.Common/bin/Release/netcoreapp3.1/PIDG.Common.dll
/BD.Common/bin/Release/netcoreapp3.1/PIDG.Common.pdb
/BD.Common/obj/BD.Common.csproj.nuget.dgspec.json
/BD.Common/obj/BD.Common.csproj.nuget.g.props
/BD.Common/obj/BD.Common.csproj.nuget.g.targets
/BD.Common/obj/Debug/netcoreapp3.1/BD.Common.AssemblyInfo.cs
/BD.Common/obj/Debug/netcoreapp3.1/BD.Common.AssemblyInfoInputs.cache
/BD.Common/obj/Debug/netcoreapp3.1/BD.Common.assets.cache
/BD.Common/obj/Debug/netcoreapp3.1/BD.Common.csproj.CoreCompileInputs.cache
/BD.Common/obj/Debug/netcoreapp3.1/BD.Common.csproj.FileListAbsolute.txt
/BD.Common/obj/Debug/netcoreapp3.1/BD.Common.csprojAssemblyReference.cache
/BD.Common/obj/Debug/netcoreapp3.1/BD.Common.dll
/BD.Common/obj/Debug/netcoreapp3.1/BD.Common.pdb
/BD.Common/obj/Debug/netcoreapp3.1/PIDG.Common.AssemblyInfo.cs
/BD.Common/obj/Debug/netcoreapp3.1/PIDG.Common.AssemblyInfoInputs.cache
/BD.Common/obj/Debug/netcoreapp3.1/PIDG.Common.assets.cache
/BD.Common/obj/Debug/netcoreapp3.1/PIDG.Common.csproj.CoreCompileInputs.cache
/BD.Common/obj/Debug/netcoreapp3.1/PIDG.Common.csproj.FileListAbsolute.txt
/BD.Common/obj/Debug/netcoreapp3.1/PIDG.Common.csprojAssemblyReference.cache
/BD.Common/obj/Debug/netcoreapp3.1/PIDG.Common.dll
/BD.Common/obj/Debug/netcoreapp3.1/PIDG.Common.pdb
/BD.Common/obj/PIDG.Common.csproj.nuget.dgspec.json
/BD.Common/obj/PIDG.Common.csproj.nuget.g.props
/BD.Common/obj/PIDG.Common.csproj.nuget.g.targets
/BD.Common/obj/project.assets.json
/BD.Common/obj/project.nuget.cache
/BD.Common/obj/Release/netcoreapp3.1/BD.Common.AssemblyInfo.cs
/BD.Common/obj/Release/netcoreapp3.1/BD.Common.AssemblyInfoInputs.cache
/BD.Common/obj/Release/netcoreapp3.1/BD.Common.assets.cache
/BD.Common/obj/Release/netcoreapp3.1/BD.Common.csproj.CoreCompileInputs.cache
/BD.Common/obj/Release/netcoreapp3.1/BD.Common.csproj.FileListAbsolute.txt
/BD.Common/obj/Release/netcoreapp3.1/BD.Common.csprojAssemblyReference.cache
/BD.Common/obj/Release/netcoreapp3.1/BD.Common.dll
/BD.Common/obj/Release/netcoreapp3.1/BD.Common.pdb
/BD.Common/obj/Release/netcoreapp3.1/PIDG.Common.AssemblyInfo.cs
/BD.Common/obj/Release/netcoreapp3.1/PIDG.Common.AssemblyInfoInputs.cache
/BD.Common/obj/Release/netcoreapp3.1/PIDG.Common.assets.cache
/BD.Common/obj/Release/netcoreapp3.1/PIDG.Common.csproj.CoreCompileInputs.cache
/BD.Common/obj/Release/netcoreapp3.1/PIDG.Common.csproj.FileListAbsolute.txt
/BD.Common/obj/Release/netcoreapp3.1/PIDG.Common.csprojAssemblyReference.cache
/BD.Common/obj/Release/netcoreapp3.1/PIDG.Common.dll
/BD.Common/obj/Release/netcoreapp3.1/PIDG.Common.pdb
/BD.Core/bin/Debug/netcoreapp3.1/BD.Common.dll
/BD.Core/bin/Debug/netcoreapp3.1/BD.Common.pdb
/BD.Core/bin/Debug/netcoreapp3.1/BD.Core.deps.json
/BD.Core/bin/Debug/netcoreapp3.1/BD.Core.dll
/BD.Core/bin/Debug/netcoreapp3.1/BD.Core.pdb
/BD.Core/bin/Debug/netcoreapp3.1/BD.Data.dll
/BD.Core/bin/Debug/netcoreapp3.1/BD.Data.pdb
/BD.Core/bin/Debug/netcoreapp3.1/PIDG.Common.dll
/BD.Core/bin/Debug/netcoreapp3.1/PIDG.Common.pdb
/BD.Core/bin/Debug/netcoreapp3.1/PIDG.Core.deps.json
/BD.Core/bin/Debug/netcoreapp3.1/PIDG.Core.dll
/BD.Core/bin/Debug/netcoreapp3.1/PIDG.Core.pdb
/BD.Core/bin/Debug/netcoreapp3.1/PIDG.Data.dll
/BD.Core/bin/Debug/netcoreapp3.1/PIDG.Data.pdb
/BD.Core/bin/Release/netcoreapp3.1/BD.Common.dll
/BD.Core/bin/Release/netcoreapp3.1/BD.Common.pdb
/BD.Core/bin/Release/netcoreapp3.1/BD.Core.deps.json
/BD.Core/bin/Release/netcoreapp3.1/BD.Core.dll
/BD.Core/bin/Release/netcoreapp3.1/BD.Core.pdb
/BD.Core/bin/Release/netcoreapp3.1/BD.Data.dll
/BD.Core/bin/Release/netcoreapp3.1/BD.Data.pdb
/BD.Core/bin/Release/netcoreapp3.1/PIDG.Core.deps.json
/BD.Core/bin/Release/netcoreapp3.1/PIDG.Core.dll
/BD.Core/bin/Release/netcoreapp3.1/PIDG.Core.pdb
/BD.Core/bin/Release/netcoreapp3.1/PIDG.Data.dll
/BD.Core/bin/Release/netcoreapp3.1/PIDG.Data.pdb
/BD.Core/obj/BD.Core.csproj.nuget.dgspec.json
/BD.Core/obj/BD.Core.csproj.nuget.g.props
/BD.Core/obj/BD.Core.csproj.nuget.g.targets
/BD.Core/obj/Debug/netcoreapp3.1/BD.Core.AssemblyInfo.cs
/BD.Core/obj/Debug/netcoreapp3.1/BD.Core.AssemblyInfoInputs.cache
/BD.Core/obj/Debug/netcoreapp3.1/BD.Core.assets.cache
/BD.Core/obj/Debug/netcoreapp3.1/BD.Core.csproj.CopyComplete
/BD.Core/obj/Debug/netcoreapp3.1/BD.Core.csproj.CoreCompileInputs.cache
/BD.Core/obj/Debug/netcoreapp3.1/BD.Core.csproj.FileListAbsolute.txt
/BD.Core/obj/Debug/netcoreapp3.1/BD.Core.csprojAssemblyReference.cache
/BD.Core/obj/Debug/netcoreapp3.1/BD.Core.dll
/BD.Core/obj/Debug/netcoreapp3.1/BD.Core.pdb
/BD.Core/obj/Debug/netcoreapp3.1/PIDG.Core.AssemblyInfo.cs
/BD.Core/obj/Debug/netcoreapp3.1/PIDG.Core.AssemblyInfoInputs.cache
/BD.Core/obj/Debug/netcoreapp3.1/PIDG.Core.assets.cache
/BD.Core/obj/Debug/netcoreapp3.1/PIDG.Core.csproj.CopyComplete
/BD.Core/obj/Debug/netcoreapp3.1/PIDG.Core.csproj.CoreCompileInputs.cache
/BD.Core/obj/Debug/netcoreapp3.1/PIDG.Core.csproj.FileListAbsolute.txt
/BD.Core/obj/Debug/netcoreapp3.1/PIDG.Core.csprojAssemblyReference.cache
/BD.Core/obj/Debug/netcoreapp3.1/PIDG.Core.dll
/BD.Core/obj/Debug/netcoreapp3.1/PIDG.Core.pdb
/BD.Core/obj/PIDG.Core.csproj.nuget.dgspec.json
/BD.Core/obj/PIDG.Core.csproj.nuget.g.props
/BD.Core/obj/PIDG.Core.csproj.nuget.g.targets
/BD.Core/obj/project.assets.json
/BD.Core/obj/project.nuget.cache
/BD.Core/obj/Release/netcoreapp3.1/BD.Core.AssemblyInfo.cs
/BD.Core/obj/Release/netcoreapp3.1/BD.Core.AssemblyInfoInputs.cache
/BD.Core/obj/Release/netcoreapp3.1/BD.Core.assets.cache
/BD.Core/obj/Release/netcoreapp3.1/BD.Core.csproj.CopyComplete
/BD.Core/obj/Release/netcoreapp3.1/BD.Core.csproj.CoreCompileInputs.cache
/BD.Core/obj/Release/netcoreapp3.1/BD.Core.csproj.FileListAbsolute.txt
/BD.Core/obj/Release/netcoreapp3.1/BD.Core.csprojAssemblyReference.cache
/BD.Core/obj/Release/netcoreapp3.1/BD.Core.dll
/BD.Core/obj/Release/netcoreapp3.1/BD.Core.pdb
/BD.Core/obj/Release/netcoreapp3.1/PIDG.Core.AssemblyInfo.cs
/BD.Core/obj/Release/netcoreapp3.1/PIDG.Core.AssemblyInfoInputs.cache
/BD.Core/obj/Release/netcoreapp3.1/PIDG.Core.assets.cache
/BD.Core/obj/Release/netcoreapp3.1/PIDG.Core.csproj.CopyComplete
/BD.Core/obj/Release/netcoreapp3.1/PIDG.Core.csproj.CoreCompileInputs.cache
/BD.Core/obj/Release/netcoreapp3.1/PIDG.Core.csproj.FileListAbsolute.txt
/BD.Core/obj/Release/netcoreapp3.1/PIDG.Core.csprojAssemblyReference.cache
/BD.Core/obj/Release/netcoreapp3.1/PIDG.Core.dll
/BD.Core/obj/Release/netcoreapp3.1/PIDG.Core.pdb
/BD.Data/bin/Debug/netcoreapp3.1/BD.Data.deps.json
/BD.Data/bin/Debug/netcoreapp3.1/BD.Data.dll
/BD.Data/bin/Debug/netcoreapp3.1/BD.Data.pdb
/BD.Data/bin/Debug/netcoreapp3.1/BD.Data.runtimeconfig.dev.json
/BD.Data/bin/Debug/netcoreapp3.1/BD.Data.runtimeconfig.json
/BD.Data/bin/Debug/netcoreapp3.1/PIDG.Data.deps.json
/BD.Data/bin/Debug/netcoreapp3.1/PIDG.Data.dll
/BD.Data/bin/Debug/netcoreapp3.1/PIDG.Data.pdb
/BD.Data/bin/Debug/netcoreapp3.1/PIDG.Data.runtimeconfig.dev.json
/BD.Data/bin/Debug/netcoreapp3.1/PIDG.Data.runtimeconfig.json
/BD.Data/bin/Release/netcoreapp3.1/BD.Data.deps.json
/BD.Data/bin/Release/netcoreapp3.1/BD.Data.dll
/BD.Data/bin/Release/netcoreapp3.1/BD.Data.pdb
/BD.Data/bin/Release/netcoreapp3.1/BD.Data.runtimeconfig.dev.json
/BD.Data/bin/Release/netcoreapp3.1/BD.Data.runtimeconfig.json
/BD.Data/bin/Release/netcoreapp3.1/PIDG.Data.deps.json
/BD.Data/bin/Release/netcoreapp3.1/PIDG.Data.dll
/BD.Data/bin/Release/netcoreapp3.1/PIDG.Data.pdb
/BD.Data/bin/Release/netcoreapp3.1/PIDG.Data.runtimeconfig.dev.json
/BD.Data/bin/Release/netcoreapp3.1/PIDG.Data.runtimeconfig.json
/BD.Data/obj/BD.Data.csproj.nuget.dgspec.json
/BD.Data/obj/BD.Data.csproj.nuget.g.props
/BD.Data/obj/BD.Data.csproj.nuget.g.targets
/BD.Data/obj/Debug/netcoreapp3.1/BD.Data.AssemblyInfo.cs
/BD.Data/obj/Debug/netcoreapp3.1/BD.Data.AssemblyInfoInputs.cache
/BD.Data/obj/Debug/netcoreapp3.1/BD.Data.assets.cache
/BD.Data/obj/Debug/netcoreapp3.1/BD.Data.csproj.CoreCompileInputs.cache
/BD.Data/obj/Debug/netcoreapp3.1/BD.Data.csproj.FileListAbsolute.txt
/BD.Data/obj/Debug/netcoreapp3.1/BD.Data.csprojAssemblyReference.cache
/BD.Data/obj/Debug/netcoreapp3.1/BD.Data.dll
/BD.Data/obj/Debug/netcoreapp3.1/BD.Data.genruntimeconfig.cache
/BD.Data/obj/Debug/netcoreapp3.1/BD.Data.pdb
/BD.Data/obj/Debug/netcoreapp3.1/PIDG.Data.AssemblyInfo.cs
/BD.Data/obj/Debug/netcoreapp3.1/PIDG.Data.AssemblyInfoInputs.cache
/BD.Data/obj/Debug/netcoreapp3.1/PIDG.Data.assets.cache
/BD.Data/obj/Debug/netcoreapp3.1/PIDG.Data.csproj.CoreCompileInputs.cache
/BD.Data/obj/Debug/netcoreapp3.1/PIDG.Data.csproj.FileListAbsolute.txt
/BD.Data/obj/Debug/netcoreapp3.1/PIDG.Data.csprojAssemblyReference.cache
/BD.Data/obj/Debug/netcoreapp3.1/PIDG.Data.dll
/BD.Data/obj/Debug/netcoreapp3.1/PIDG.Data.genruntimeconfig.cache
/BD.Data/obj/Debug/netcoreapp3.1/PIDG.Data.pdb
/BD.Data/obj/PIDG.Data.csproj.nuget.dgspec.json
/BD.Data/obj/PIDG.Data.csproj.nuget.g.props
/BD.Data/obj/PIDG.Data.csproj.nuget.g.targets
/BD.Data/obj/project.assets.json
/BD.Data/obj/project.nuget.cache
/BD.Data/obj/Release/netcoreapp3.1/BD.Data.AssemblyInfo.cs
/BD.Data/obj/Release/netcoreapp3.1/BD.Data.AssemblyInfoInputs.cache
/BD.Data/obj/Release/netcoreapp3.1/BD.Data.assets.cache
/BD.Data/obj/Release/netcoreapp3.1/BD.Data.csproj.CoreCompileInputs.cache
/BD.Data/obj/Release/netcoreapp3.1/BD.Data.csproj.FileListAbsolute.txt
/BD.Data/obj/Release/netcoreapp3.1/BD.Data.dll
/BD.Data/obj/Release/netcoreapp3.1/BD.Data.genruntimeconfig.cache
/BD.Data/obj/Release/netcoreapp3.1/BD.Data.pdb
/BD.Data/obj/Release/netcoreapp3.1/PIDG.Data.AssemblyInfo.cs
/BD.Data/obj/Release/netcoreapp3.1/PIDG.Data.AssemblyInfoInputs.cache
/BD.Data/obj/Release/netcoreapp3.1/PIDG.Data.assets.cache
/BD.Data/obj/Release/netcoreapp3.1/PIDG.Data.csproj.CoreCompileInputs.cache
/BD.Data/obj/Release/netcoreapp3.1/PIDG.Data.csproj.FileListAbsolute.txt
/BD.Data/obj/Release/netcoreapp3.1/PIDG.Data.csprojAssemblyReference.cache
/BD.Data/obj/Release/netcoreapp3.1/PIDG.Data.dll
/BD.Data/obj/Release/netcoreapp3.1/PIDG.Data.genruntimeconfig.cache
/BD.Data/obj/Release/netcoreapp3.1/PIDG.Data.pdb
